

{% extends 'extremoduro/baseExtremoduro.html.twig' %}
    {% block stylesheets %}
        <link href="{{ asset('css/app.css')}}" rel="stylesheet" />
    {% endblock %}

{% block contenido %}
    <h2> Añadir Album</h2>
    {{form(AlbumForm)}}
{% endblock %}