

{% extends 'extremoduro/baseExtremoduro.html.twig' %}
    {% block stylesheets %}
        <link href="{{ asset('css/app.css')}}" rel="stylesheet" />
    {% endblock %}

{% block contenido %}
    <h2 class="h2"> Añadir Usuario</h2>
    {{form(userForm)}}
{% endblock %}