
    {% extends 'extremoduro/baseExtremoduro.html.twig' %}
        
          {% block contenido %}
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                             <h2>{{ album.name }}</h2>
                        </div>
                        <div class="col">
                            <img src="{{ album.image }}">
                        </div>
                        <div class="col">
                           <h2>Year: {{ album.year }}</h2>                            
                        </div>
                        <div class="col">
                           <ul>
                           {% for song in album.extremoduro.extremoduro_id %}
                           <li>{{song.name}}</li>
                           {% endfor %}
                           </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
            